:root {
  --white: #fff;
  --black: #000;
  --black-l: #333;
  --black-ll: #aaa;
  --ovo: yellow;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
  background-color: var(--black);
  color: var(--white);
  line-height: 1;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
}

ol, ul {
	list-style: disc;
  list-style-position: inside;
}

li + li {
  margin-top: 20px;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b {
  font-weight: 600;
}

img {
  vertical-align: middle;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p {
  line-height: 1.6;
}

a, a:active, a:focus {
  color: currentcolor;
  text-decoration: none;
}

a:hover {
  color: var(--white);
  text-decoration: underline;
}

.PageHeader {
  background-color: var(--black);
  padding: 6%;
  width: 100%;
  max-width: 1920px;
}

.Title {
  font-weight: 600;
  line-height: 1.2;
  font-size: 8rem;
  position: relative;
}

.Title-main {
  display: block;
}

.Title-sub {
  display: block;
  font-size: 60%;
}

.LogoSVG {
  display: inline-block;
  fill: var(--black-l);
  width: 100%;
  max-width: 260px;
}

.MainNav {
  border-bottom: 1px solid var(--black-l);
  border-top: 1px solid var(--black-l);
  padding: 2rem 6%;
}

.MainNav-item {
  color: var(--black-ll);
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
}

.MainNav-item + .MainNav-item {
  margin-left: 3rem;
}

.Projects {
  border-top: 1px solid var(--black-l);
  padding: 6rem 6%;
}

.Projects-title {
  font-size: 2rem;
  padding-bottom: 2rem;
}

.Project {
  padding: 3rem 0;
}

.Project + .Project {
  border-top: 1px solid var(--black-l);
}

.Project-title {
  padding-bottom: 1rem;
  font-size: 2rem;
  font-weight: 600;
}

.Project-links {
  color: var(--black-ll);
  font-size: 70%;
}

.Project-desc {
  color: var(--black-ll);
}

.Project-tags {
  margin-top: 1rem;
}

.Tag {
  color: var(--white);
  display: inline-block;
  margin-right: 1rem;
}

.Contacts {
  color: var(--black-ll);
  padding-top: 30px;
  font-size: 2rem;
}

.Contacts a {
  color: var(--ovo);
}

.Social {
  position: fixed;
  width: 48px;
  bottom: 0;
  right: 10%;
}

.Social::after {
  content: "";
  display: block;
  background-color: var(--black-l);
  height: 80px;
  margin-left: 50%;
  width: 1px;
}

.Social-link {
  display: block;
  margin-bottom: 20px;
}

.Social-link svg {
  fill: var(--ovo);
  height: auto;
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .Title {
    font-size: 6rem;
  }

  .LogoSVG {
    max-width: 200px;
  }
}

@media only screen and (max-width: 1024px) {
  .Title {
    font-size: 5rem;
  }

  .LogoSVG {
    max-width: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .Title {
    font-size: 4rem;
  }

  .LogoSVG {
    max-width: 100px;
  }

  .Social {
    margin: 60px 0 40px 0;
    position: relative;
    width: 100%;
    right: auto;
    left: 0;
    text-align: right;
  }

  .Social::after {
    display: inline-block;
    height: 1px;
    margin-left: 10px;
    width: 80px;
    top: -10px;
    position: relative;
  }

  .Social-link {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 20px;
  }

  .Social-link svg {
    height: 24px;
    width: auto;
  }

  .Projects {
    border-top: 0;
  }
}

@media only screen and (max-width: 600px) {
  .Title {
    font-size: 2.4rem;
    line-height: 1.6;
  }

  .LogoSVG {
    max-width: 64px;
  }

  .Contacts {
    font-size: 1.5rem;
  }

  .Project-title {
    line-height: 1.6;
  }

  .Project-links {
    display: block;
  }

  .Project-tags {
    margin-top: 2rem;
  }

  .Projects-title {
    font-size: 1.5rem;
  }

  .Contacts {
    padding-top: 70px;
  }

  .Social {
    text-align: left;
    margin: 0;
  }

  .Social::after {
    display: none;
    visibility: hidden;
  }
}
