:root {
  --white: #fff;
  --black: #000;
  --black-l: #333;
  --black-ll: #aaa;
  --ovo: yellow;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
  font-size: 20px;
}

body {
  background-color: var(--black);
  color: var(--white);
  line-height: 1;
  font-family: 'Inter', sans-serif;
}

ol, ul {
	list-style: disc;
  list-style-position: inside;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b {
  font-weight: 600;
}

img {
  vertical-align: middle;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

p {
  line-height: 1.6;
}

a, a:active, a:focus {
  color: currentcolor;
}

a:hover {
  color: var(--white);
}

.PageHeader {
  background-color: var(--black);
  padding: 90px 6%;
  width: 100%;
  max-width: 1920px;
}

.Title {
  font-weight: 600;
  line-height: 1.4;
  font-size: 2.4rem;
}

.Title-main {
  display: block;
}

.Title-sub {
  display: block;
  font-size: 60%;
}

.LogoSVG {
  display: inline-block;
  fill: var(--black-l);
  width: 100%;
  max-width: 100px;
}

.Projects {
  padding: 90px 6%;
}

.Project {
  font-size: 1.6rem;
  line-height: 1.6;
  padding: 60px 0;
}

.Project > * + * {
  padding-top: 12px;
}

.Project + .Project {
  border-top: 1px solid var(--black-l);
}

.Project-title {
  font-size: 100%;
  font-weight: 600;
}

.Project-links {
  display: block;
  color: var(--ovo);
  font-size: 60%;
}

.Project-links > a {
  display: inline-block;
  margin-right: 12px;
}

.Project-desc {
  color: var(--black-ll);
  font-size: 60%;
}

.Tag {
  color: var(--white);
  display: inline-block;
  font-size: 60%;
  padding-right: 12px;
}

.Contacts {
  font-size: 1.2rem;
  padding-top: 24px;
}

.Contacts a {
  color: var(--ovo);
  text-decoration: none;
}

.Social {
  border-bottom: 1px solid var(--black-l);
  border-top: 1px solid var(--black-l);
  padding: 24px 6%;
}

.Social-link {
  display: inline-block;
  padding-right: 1rem;
}

.Social-link svg {
  fill: var(--ovo);
  height: 24px;
  width: auto;
  vertical-align: middle;
}

@media only screen and (min-width: 1024px) {
  .Title {
    font-size: 4rem;
  }

  .LogoSVG {
    max-width: 200px;
  }

  .Contacts {
    font-size: 1.6rem;
  }

  .Project-links {
    display: inline-block;
    margin-left: 12px;
    vertical-align: middle;
  }
}

@media only screen and (min-width: 1200px) {
  .Title {
    font-size: 6rem;
  }

  .LogoSVG {
    max-width: 260px;
  }

  .Contacts {
    font-size: 2rem;
  }

  .Project {
    font-size: 2rem;
  }

  .Social {
    position: fixed;
    bottom: 0;
    right: 10%;
    width: auto;
    border-bottom: 0;
    border-top: 0;
    padding: 0;
  }

  .Social-link {
    display: block;
    margin-bottom: 36px;
    padding-right: 0;
  }

  .Social-link svg {
    height: auto;
    width: 48px;
  }

  .Social::after {
    content: "";
    display: block;
    width: 1px;
    height: 66px;
    background-color: var(--black-l);
    margin-left: 50%;
    transform: translateX(-1px);
  }
}
