@media (prefers-color-scheme: dark) {
  :root {
    --bg: #101010;
    --almost-bg: #222;
    --fg: #fff;
    --accent: yellow;
    --reading: #685b17;
    --read: #000;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f5f5f5;
    --almost-bg: #ccc;
    --fg: #000;
    --accent: blue;
    --reading: #e5c07b;
    --read: #61afef;
  }
}

:root {
  --s1: 0.5rem;
  --s2: 1rem;
  --s4: 2rem;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

body {
  color: var(--fg);
  line-height: 1;
  font-family: Arial, sans-serif, serif;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: var(--s4);
}

body > * {
  padding-left: var(--s4);
  padding-right: var(--s4);
  margin-bottom: var(--s4);
}

a:focus, a:active {
  outline: 2px solid var(--accent);
}

ol,
ul {
  list-style: disc;
  list-style-position: inside;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

b,
strong {
  font-weight: bold;
}

i,
em {
  font-style: italic;
}

img {
  vertical-align: middle;
}

p {
  line-height: 1.8;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 2rem;
}

h1 + p {
  margin-top: var(--s2);
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

h3 + p {
  margin-top: var(--s1);
}

a {
  color: var(--accent);
}

hr {
  display: none;
  visibility: hidden;
}

section.Project {
  padding-top: var(--s4);
}

#TOC {
  display: flex;
  list-style: none;
}

#TOC li {
  display: inline-block;
  margin-right: var(--s4);
  line-height: 1.6;
}

.Project ul li {
  display: inline-block;
}

.Project > p > a {
  display: inline-block;
}

.Project ul {
  color: var(--black-l);
}

.Project ul li,
.Board ul li,
.Board h3 {
  list-style: none;
  position: relative;
  margin: var(--s1) var(--s1) 0 0;
  background-color: var(--almost-bg);
  font-size: 0.9rem;
  padding: var(--s1);
  border-radius: 3px;
}

section.Board {
  display: flex;
  flex-wrap: wrap;
}

section.Board .level3 {
  flex: 1 0 100%;
  display: flex;
}

section.Board .level3 h3 {
  flex: 0 0 16%;
}

section.Board .level3 ul {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

section.Board > .Board {
  flex: 1 0 100%;
}

section.Board .level3 + .level3 ul li,
section.Board .level3 + .level3 h3 {
  background-color: var(--reading);
}

section.Board .level3 + .level3 + .level3 ul li,
section.Board .level3 + .level3 + .level3 h3 {
  background-color: var(--read);
}
