:root {
  --white: #fff;
  --white-d: #aaa;
  --black: #000;
  --black-l: #333;
  --accent: yellow;

  --aria: 4rem;
}

@font-face {
  font-family: Mainfont;
  src: url(NNR.woff);
  font-weight: normal;
}

@font-face {
  font-family: Mainfont;
  src: url(NNB.woff);
  font-weight: bold;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

html, body {
  font-size: 20px;
}

body {
  background-color: var(--black);
  color: var(--white);
  line-height: 1;
  font-family: MainFont, serif;
  font-size: 20px;
}

ol, ul {
	list-style: disc;
  list-style-position: inside;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

b, strong {
  font-weight: bold;
}

img {
  vertical-align: middle;
}

p {
  line-height: 1.6;
}

a, a:active, a:focus {
  display: inline-block;
  color: var(--accent);
  text-decoration: underline;
}

a:focus {
  outline-color: var(--accent);
  outline-style: solid;
}

a:hover {
  color: var(--accent);
}

body > * {
  margin-left: var(--aria);
  margin-right: var(--aria);
  margin-bottom: 4em;
  max-width: 1200px;
}

header {
  padding-top: var(--aria);
  padding-bottom: 0;
}

header + p {
  font-size: 22px;
}

.Title {
  display: block;
  font-size: 80px;
  font-weight: bold;
}

.level2 > h2 {
  font-size: 36px;
  font-weight: bold;
  padding-bottom: 1em;
}

section.Project {
  padding-top: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid var(--black-l);
}

.Project > h3 {
  font-size: 32px;
  font-weight: bold;
}

.Project > h3 a {
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  font-weight: normal;
}

.Project > p {
  color: var(--white-d);
  margin-top: 1em;
  margin-bottom: 1em;
}

.Project > ul {
  list-style: none;
}

.Project > ul > li {
  display: inline-block;
  background-color: var(--black-l);
  padding: 0.4em 0.8em;
  border-radius: 3px;
  margin-right: 0.4em;
  margin-top: 0.4em;
}
