@media (prefers-color-scheme: dark)
{
  :root
  {
    --bg: #000;
    --fg: #fff;
    --accent: yellow;
  }
}

@media (prefers-color-scheme: light)
{
  :root
  {
    --bg: #fff;
    --fg: #000;
    --accent: blue;
  }
}

:root
{
  --s1: 0.5rem;
  --s2: 1rem;
  --s3: 1.6rem;
  --s4: 2rem;
  --s5: 4rem;

  --font-sans: droid sans, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman, Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
  --font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;
}

*
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html
{
  background-color: var(--bg);
}

body
{
  color: var(--fg);
  line-height: 1;
  font-family: var(--font-sans);
  font-size: 1.3rem;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: var(--s4);
}

body > *
{
  padding-left: var(--s4);
  padding-right: var(--s4);
  margin-bottom: var(--s5);
}

a:focus
, a:active
{
  outline: 2px solid var(--accent);
}

ol
, ul
{
  list-style: disc;
  list-style-position: inside;
}

blockquote
, q
{
  quotes: none;
}

blockquote:before
, blockquote:after
, q:before
, q:after
{
  content: "";
  content: none;
}

table
{
  border-collapse: collapse;
  border-spacing: 0;
}

b
, strong
{
  font-weight: bold;
}

i
, em
{
  font-style: italic;
}

img
{
  vertical-align: middle;
}

p
{
  line-height: 1.6;
}

h1
, h2
, h3
{
  font-weight: bold;
}

h1
{
  font-size: 2rem;
  padding-bottom: var(--s2);
  margin-bottom: var(--s2);
}

h2
{
  font-size: 1.5rem;
}

h3
{
  font-size: 1.3rem;
}

h3 + p
{
  margin-top: var(--s1);
}

a
{
  color: var(--accent);
}

hr
{
  display: none;
  visibility: hidden;
}

section.Project
{
  margin-bottom: var(--s4);
  margin-top: var(--s4);
  padding-left: var(--s2);
  border-left: var(--s1) solid var(--fg);
}

section.Project ul
{
  display: flex;
  list-style: none;
}

section.Project ul > li + li
{
  margin-left: var(--s2);
}

.Project > p > a
{
  display: inline-block;
  text-decoration: none;
}

.Project > p > a:hover
{
  text-decoration: underline;
}

.Project ul
{
  color: var(--black-l);
}

.Project ul li
{
  margin-top: var(--s1);
  opacity: 0.6;
}

footer
{
  padding-top: var(--s1);
}
