<!doctype html>
<html lang="en">
  <head>
    <title><%= @page.title %> - <%= @site.name %></title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Carlo Ascani">
    <meta
      name="description"
      content="<%= @site.description %>"
    >

    <link
      rel="shortcut icon"
      href="<%= asset "favicon.ico" %>"
      type="image/x-icon"
    >
    <link
      rel="stylesheet"
      href="<%= asset "css/style.css" %>"
    >
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap"
      rel="stylesheet"
    >
  </head>
  <body>
    <header class="PageHeader">
      <h1 class="Title">
        <span class="Title-main">
          Carlo Ascani
          <%= include "_glasses" %>
        </span>
        <span class="Title-sub">Web Developer in Italy.</span>
      </h1>
      <%= include "_contacts" %>
    </header>
    <%= include "_social" %>
    <%= include "_projects" %>
  </body>
</html>
